@font-face {
    font-family: 'Kanit-Semi';
    src: url(../assets/fonts/Kanit-SemiBold.ttf);
}

@font-face {
    font-family: 'Kanit';
    src: url(../assets/fonts/Kanit-Regular.ttf);
}


#myName{
    font-family: "Kanit-Semi";
    background: linear-gradient(to right, rgb(217, 0, 255), lime);
    color: transparent;
    background-clip: text;
}

#btnDownloadCV {
    color: white;
    background: linear-gradient(to right, rgb(217, 0, 255), lime);
    background-repeat: no-repeat;
    border-radius: 25px;
}

#aDownload {
    padding: 6px 5px;
    width: 90%;
    background-color: rgb(10 10 10);
    padding: 0.4rem 0.5rem;
    border-radius: 20px;
    transition: 0.59s all linear;
}

#aDownload:hover {
    background-color: transparent;
}