@font-face {
    font-family: 'Rubik-Glitch';
    src: url(../assets/fonts/RubikGlitch-Regular.ttf);
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(../assets/fonts/IBMPlexSans-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#nombre {
    font-family: 'Rubik-Glitch';
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    animation: none;
    transition: all 1s ease-in;
}

@-webkit-keyframes rainbow {
    from {
        -webkit-filter: hue-rotate(10deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

@keyframes rainbow {
    from {
        -webkit-filter: hue-rotate(10deg);
        filter: hue-rotate(10deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

#nombre:hover {
    color: transparent;
    animation: rainbow 2.5s linear infinite;
}

#atributos li {
    font-family: 'IBM Plex Sans';
    transition: 0.5s;
    position: relative;
}

#atributos li:hover {
    color: rgb(30, 255, 30);
    text-decoration: none;
}

#atributos li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: rgb(30, 255, 30);
    transition: 0.5s;
}

#atributos li:hover::after {
    width: 100%;
    transform: scaleX(1);
}

.no-scroll {
    overflow: hidden;
}

@media (max-width: 1024px) {
    #atributos{
        display: none;
    }
}